.App {
  display: flex;
  justify-content: center;;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20em;
  background-color: aliceblue;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.title {
  padding: 2px 16px;
  text-align: left;
  font-size: large;
  color: brown;
}

input {
  font-size: 16px;
  font-size: Max(16px, 1em);
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: #fff;
  border: 2px solid var(--input-border);
  border-radius: 4px;
  transition: 180ms box-shadow ease-in-out;
  width: 80%;
}

label {
  font-size: 1.125rem;
  font-weight: 500;
  padding-bottom: 1em;
}
button {
  border-radius: 6px;
  background-color: #008CBA;
  transition-duration: 0.4s;
  color: white;
  border: none;
  font-size: 14px;
  padding: 14px 30px;
  cursor: pointer;
  outline: none;
}

button:hover {background-color: #0dbaf3}

button:active {
  background-color: #0dbaf3;
  transform: translateY(4px);
}

